.layout{
    margin: 20px;
    display: grid;
    grid-template-areas: LeftSide Main RightSide;
    grid-template-columns: minmax(0,5fr) minmax(0,12fr) minmax(300px , 7fr);
    column-gap: 25px;
    row-gap: 25px;
    @media (max-width:768px) {
        display: flex;
        flex-direction: column;
        padding: 0 5px;
        
    }
}


main{
    background-color: #f3f2ee;
}